<ion-header>
  <ion-toolbar>
    <ion-title>
      DHA funky Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>
<style>
  ion-button{
    width: 100%;
  }
  .display{
    width: 100%;
    text-align:right; 
    padding:10px;
    background-color: #e0e0e0;
    color: #488aff;
  }
  .errorMessage{
    color:red;
    font-weight: bold; 
  }
</style>
<ion-content>

  <div class="errorMessage" *ngIf="errorMessage">{{errorMessage}}</div>
  <div class="display">{{displayValue}}</div>

  <ion-grid>
      <ion-row>
          <ion-col><ion-button (click)="touchUnOp($event)" color="medium">Rand</ion-button></ion-col>
          <ion-col><ion-button (click)="allClear()" color="medium">AC</ion-button></ion-col>
          <ion-col><ion-button (click)="touchUnOp($event)" color="medium">+/-</ion-button></ion-col>
          <ion-col><ion-button (click)="touchUnOp($event)" color="medium">%</ion-button></ion-col>
          <ion-col><ion-button (click)="touchBinOp($event)" color="warning tint">+</ion-button></ion-col>
      </ion-row>
      <ion-row>
          <ion-col><ion-button (click)="touchUnOp($event)" color="medium">√</ion-button></ion-col>
          <ion-col><ion-button (click)="touchDigit($event)" color="dark">7</ion-button></ion-col>
          <ion-col><ion-button (click)="touchDigit($event)" color="dark">8</ion-button></ion-col>
          <ion-col><ion-button (click)="touchDigit($event)" color="dark">9</ion-button></ion-col>
          <ion-col><ion-button color="warning tint">=</ion-button></ion-col>
      </ion-row>
      <ion-row>
          <ion-col></ion-col>
          <ion-col><ion-button (click)="touchDigit($event)" color="dark">4</ion-button></ion-col>
          <ion-col><ion-button (click)="touchDigit($event)" color="dark">5</ion-button></ion-col>
          <ion-col><ion-button (click)="touchDigit($event)" color="dark">6</ion-button></ion-col>
          <ion-col><ion-button (click)="touchBinOp($event)" color="warning tint">-</ion-button></ion-col>
      </ion-row>
      <ion-row>
          <ion-col></ion-col>
          <ion-col><ion-button (click)="touchDigit($event)" color="dark">1</ion-button></ion-col>
          <ion-col><ion-button (click)="touchDigit($event)" color="dark">2</ion-button></ion-col>
          <ion-col><ion-button (click)="touchDigit($event)" color="dark">3</ion-button></ion-col>
          <ion-col><ion-button (click)="touchBinOp($event)" color="warning tint">+</ion-button></ion-col>
      </ion-row>
      <ion-row>
          <ion-col></ion-col>
          <ion-col size="5"><ion-button (click)="touchDigit($event)" color="dark">0</ion-button></ion-col>
          <ion-col><ion-button color="dark">,</ion-button></ion-col>
          <ion-col><ion-button (click)="touchEquals()" color="warning tint">=</ion-button></ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
