ion-button{
    width: 100%;
}
.display{
    width: 100%;
    text-align:right; 
    padding:10px;
    background-color: #e0e0e0;
    color: #488aff;
}
.errorMessage{
    color:red;
    font-weight: bold; 
}