<ion-header>
  <ion-toolbar>
    <ion-title>
      DHA funky Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>
<style>
  ion-button{
    width: 60px;
  }
  .display{
    width: 250px;
    text-align:right; 
    padding:10px;
    background-color: #e0e0e0;
    color: #488aff;
  }
  .errorMessage{
    color:red;
    font-weight: bold; 
  }
</style>
<ion-content>
  <div class="ion-padding">
    <div class="errorMessage" *ngIf="errorMessage">{{errorMessage}}</div>
    <div class="display">{{displayValue}}</div>
    <ion-button (click)="allClear()">AC</ion-button>
    <ion-button (click)="touchUnOp($event)">+/-</ion-button>
    <ion-button (click)="touchUnOp($event)">%</ion-button>
    <ion-button (click)="touchBinOp($event)">+</ion-button>
    <br/>
    <ion-button (click)="touchDigit($event)" color="light">7</ion-button>
    <ion-button (click)="touchDigit($event)" color="light">8</ion-button>
    <ion-button (click)="touchDigit($event)" color="light">9</ion-button>
    <ion-button>=</ion-button>
    <br/>
    <ion-button (click)="touchDigit($event)" color="light">4</ion-button>
    <ion-button (click)="touchDigit($event)" color="light">5</ion-button>
    <ion-button (click)="touchDigit($event)" color="light">6</ion-button>
    <ion-button (click)="touchBinOp($event)">-</ion-button>
    <br/>
    <ion-button (click)="touchDigit($event)" color="light">1</ion-button>
    <ion-button (click)="touchDigit($event)" color="light">2</ion-button>
    <ion-button (click)="touchDigit($event)" color="light">3</ion-button>
    <ion-button (click)="touchBinOp($event)">+</ion-button>
    <br/>
    <ion-button (click)="touchDigit($event)" style="width:125px;" color="light">0</ion-button>
    <ion-button color="light">,</ion-button>
    <ion-button (click)="touchEquals()">=</ion-button>
    <br/>
  </div>
</ion-content>
